.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.btn-clear {
    margin: 15px;
}

.order {
    border: solid 1px white;
    display: flex;
    flex-direction: column;
    align-items: center;
}