body {
    background-color: #000000;
    color: #ffff;
}

.div-navbar {
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.navbar-brand {
    font-size: 26px;
    font-weight: bolder;
}

.badge {
    color: black;
    width: 50px;
    font-size: 26px;
    border-radius: 10px;
}

.greeting {
    text-align: center;
    font-size: 26px;
}